<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>.-</string>
	<key>B</key>
	<string>-...</string>
	<key>C</key>
	<string>-.-.</string>
	<key>D</key>
	<string>-..</string>
	<key>E</key>
	<string>.</string>
	<key>F</key>
	<string>..-.</string>
	<key>G</key>
	<string>--.</string>
	<key>H</key>
	<string>....</string>
	<key>I</key>
	<string>..</string>
	<key>J</key>
	<string>.---</string>
	<key>K</key>
	<string>-.-</string>
	<key>L</key>
	<string>.-..</string>
	<key>M</key>
	<string>--</string>
	<key>N</key>
	<string>-.</string>
	<key>O</key>
	<string>---</string>
	<key>P</key>
	<string>.--.</string>
	<key>Q</key>
	<string>--.-</string>
	<key>R</key>
	<string>.-.</string>
	<key>S</key>
	<string>...</string>
	<key>T</key>
	<string>-</string>
	<key>U</key>
	<string>..-</string>
	<key>V</key>
	<string>...-</string>
	<key>W</key>
	<string>.--</string>
	<key>X</key>
	<string>-..-</string>
	<key>Y</key>
	<string>-.--</string>
	<key>Z</key>
	<string>--..</string>
	<key>1</key>
	<string>.----</string>
	<key>2</key>
	<string>..---</string>
	<key>3</key>
	<string>...--</string>
	<key>4</key>
	<string>....-</string>
	<key>5</key>
	<string>.....</string>
	<key>6</key>
	<string>-....</string>
	<key>7</key>
	<string>--...</string>
	<key>8</key>
	<string>---..</string>
	<key>9</key>
	<string>----.</string>
	<key>0</key>
	<string>-----</string>
	<key>.</key>
	<string>.-.-.-</string>
	<key>,</key>
	<string>--..--</string>
	<key>?</key>
	<string>..--..</string>
	<key>/</key>
	<string>.----.</string>
	<key>!</key>
	<string>-.-.--</string>
	<key>(</key>
	<string>-.-.--</string>
	<key>)</key>
	<string>-.--.-</string>
	<key>&amp;</key>
	<string>.-...</string>
	<key>:</key>
	<string>---...</string>
	<key>=</key>
	<string>-...-</string>
	<key>+</key>
	<string>.-.-.</string>
	<key>-</key>
	<string>-....-</string>
	<key>_</key>
	<string>..--.-</string>
	<key>\</key>
	<string>.-..-.</string>
	<key>$</key>
	<string>...-..-</string>
	<key>@</key>
	<string>.--.-.</string>
	<key>;</key>
	<string>-.-.-.</string>
	<key>Ä</key>
	<string>.-.-</string>
	<key>Æ</key>
	<string>.-.-</string>
	<key>Ą</key>
	<string>.-.-</string>
	<key>À</key>
	<string>.--.-</string>
	<key>Å</key>
	<string>.--.-</string>
	<key>Ç</key>
	<string>-.-..</string>
	<key>Ĉ</key>
	<string>-.-..</string>
	<key>Ć</key>
	<string>-.-..</string>
	<key>Š</key>
	<string>----</string>
	<key>Ð</key>
	<string>..--.</string>
	<key>Ś</key>
	<string>...-...</string>
	<key>È</key>
	<string>.-..-</string>
	<key>Ł</key>
	<string>.-..-</string>
	<key>É</key>
	<string>..-..</string>
	<key>Ę</key>
	<string>..-..</string>
	<key>Ĝ</key>
	<string>--.-.</string>
	<key>Ĥ</key>
	<string>----</string>
	<key>Ĵ</key>
	<string>.---.</string>
	<key>Ź</key>
	<string>--..-.</string>
	<key>Ñ</key>
	<string>--.--</string>
	<key>Ń</key>
	<string>--.--</string>
	<key>Ö</key>
	<string>---.</string>
	<key>Ø</key>
	<string>---.</string>
	<key>Ó</key>
	<string>---.</string>
	<key>Ŝ</key>
	<string>...-.</string>
	<key>Ü</key>
	<string>..--</string>
	<key>Ŭ</key>
	<string>..--</string>
	<key>Ż</key>
	<string>--..-</string>
	<key> </key>
	<string> </string>
</dict>
</plist>
